<div class="card w-96 bg-slate-200 shadow-xl p-5 mt-8 m-auto">
    <h1 class="text-center p-6 font-bold text-4xl">View Employee</h1>

    <div class="avatar">
      <div class="mask mask-squircle w-12 h-12 mx-auto">
        <img src={{userUpdate.profilepic}} *ngIf="userUpdate.profilepic; else elseBlock" alt="Avatar Tailwind CSS Component" />
      </div>
      <ng-template #elseBlock>
        <div class=" text-center w-12 h-12 flex justify-center align-center badge badge-outline" [ngStyle]="{'background-color': divColor}"> 
          <span class="relative"> {{ userUpdate.fullname[0].toUpperCase() }} </span></div>
      </ng-template>
  
    </div>

    <div class="card-body">

      <h2 class="card-title mx-auto">
        <span>{{ userUpdate.fullname }}</span> 
        <div class="label-text text-white badge badge-outline bg-teal-500">NEW</div>
      </h2>
      <div class="text-center">
        <label class="label-text text-white badge badge-outline bg-teal-500">Job Title:</label><h3>{{ userUpdate.jobtitle }}</h3>
      </div>
      <div class="text-center">
        <label class="label-text text-white badge badge-outline bg-teal-500">Email:</label><h3>{{ userUpdate.email }}</h3>
      </div>
      <div class="text-center">
        <label class="label-text text-white badge badge-outline bg-teal-500">Phone Number:</label><h3>0{{ userUpdate.phonenumber }}</h3>
      </div>
      <div class="text-center">
        <label class="label-text text-white badge badge-outline bg-teal-500">Department:</label><h3>{{ userUpdate.department }}</h3>
      </div>
     
    </div>
    
    <button class="btn btn-outline btn-secondary w-54 " routerLink='/home' (click)="clear()">Back</button>

</div>

